
<mat-grid-list [cols]="12" rowHeight="4rem">
  <mat-grid-tile [colspan]="4" [rowspan]="10">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Employee Detail</mat-card-title>
      <mat-card-content id="employeeform">
<!--        <mat-form [formGroup]="form">-->

<!--          <mat-form-field appearance="outline">-->
<!--&lt;!&ndash;            <mat-label>Calling Name</mat-label>&ndash;&gt;-->

<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->



<!--        </mat-form>-->
      </mat-card-content>
    </mat-card-header>
  </mat-card>
  </mat-grid-tile>




  <mat-grid-tile [colspan]="8" [rowspan]="4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Employee Detail</mat-card-title>
        <mat-card-content id="employeesearch">
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>




  <mat-grid-tile [colspan]="8" [rowspan]="6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Employee Detail</mat-card-title>
        <mat-card-content id="employeeview">
        </mat-card-content>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>





